.wrapper {
    padding-bottom: 5vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: block;
    outline: none;
    border: none;
    width: var(--input-width-small);
    height: 48px;
    background-color: var(--color-input);
    padding: var(--input-padding);
}

.title {
    padding: 5vh;
}

.field+.field {
    margin-top: 18px;
}

.toggle-pass {
    margin-top: 18px;
    display: flex;

    input {
        margin-right: 10px;
    }
}

.login-btn {
    margin: 18px 0;
}

.navigate {
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width: 420px) {
    .input {
        width: 80vw;

    }
}